body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
footer{
    background: #1c6425;
}
.bgTitulo{
    background: #1c6425;
 }
.bgMain{
    background: #e0e3e171;
}
.modal-header {
    border-bottom:none;
}
.imgAutor{
    width: 22%;
}
.imgPerfil{
    height: 30px;
}

#listaComentarios {
    list-style: none;
}

@media all and (max-width: 991px){
    .colorLista{
        background: #19875431
    }
}
@media all and (max-width: 575px){
    .imgResponsive{
        height: 250px;
        object-fit: cover;
    
    }
    .cardResponsive{
        height: 250px;
    }
    .imgAutor{
        width: 35%;
    }
}

@media all and (min-width: 576px)and (max-width: 767px){
    .imgResponsive{
        height: 250px;
        object-fit: cover;
    }
    .cardResponsive{
        height: 250px;
    }
    .imgAutor{
        width: 26%;
    }
}
@media all and (min-width: 768px){

    .imgResponsive{
        height: 275px;
        object-fit: cover;
    
    }
    .imgModal{
        height: 100%;
        object-fit: cover;
    }
    .imgAutor{
        width: 15%;
    }
}
