body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
footer{
    background: #1c6425;
}
.bg-fondo{
    background: #1c6425;
 }
.bg-main{
    background: #e0e3e171;
}
@media all and (max-width: 991px){
    h5{
        font-size: 20px;
    }
    .color-list{
        background: #19875431
    }
}

@media all and (min-width: 992px){
   
}

@media all and (max-width: 575px){
    /* .imgLogo{
        width: 100px;
    } */
    .imgResponsive{
        height: 250px;
        object-fit: cover;
    
    }
    .cardResponsive{
        height: 250px;
    }
}

@media all and (min-width: 576px)and (max-width: 767px){
    /* .imgLogo{
        width: 130px;
    } */
    .imgResponsive{
        height: 250px;
        
        object-fit: cover;
    
    }
    .cardResponsive{
        height: 250px;
    }
}

@media all and (min-width: 768px){

    .imgResponsive{
        height: 275px;
        object-fit: cover;
    
    }
    /* .imgLogo{
        width: 160px;
    } */
    /* .alturaCard{
        height: 230px;
        object-fit: cover;
    }
    .titulo-card{
        font-size: 28px;
    } */
}
.imgAutor{
    width: 22%;
}
@media all and (max-width: 575px){
    .imgAutor{
        width: 35%;
    }
}
@media all and (min-width: 576px)and (max-width: 767px){
    .imgAutor{
        width: 30%;
    }
}

.imgPerfil{
    height: 30px;
}
#listaComentarios {
    list-style: none;
}
